node_modules
package-lock.json
out
docs
.env
lib


#Hardhat files
cache
artifacts

#dapp tools 
hevm.libs.*


# hardhat
*/artifacts/*
*/cache/*
*/deployments/*


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
